# Python
__pycache__/
*.pyc
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/

# Окружение
.venv/
.env

# База данных и локальные данные
data/*.db
data/*.sqlite

# IDE (VS Code, PyCharm)
.vscode/
.idea/

# Логи
*.log

dist/
build/
.uv/

*.egg-info/
*_context.md